# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env

# Build output
build/
dist/

# IDE files
.vscode/
.idea/

# Logs and error output
logs/
*.log

# Miscellaneous
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore
